<div>System Mode: <strong><span id="systemDetailsMode"><%= system_mode(dashboard) %></span>
  <% if has_program(dashboard) %>
      (<span id="systemDetailsProgram"><%= current_program(dashboard) %></span>)
  <% end %><button class="btn btn-xs btn-primary" type="button" onclick="showSystemSettingsEditModal('<%= system_mode(dashboard) %>', '<%=current_program(dashboard) %>', '<%=cool_temp(dashboard) %>', '<%=heat_temp(dashboard) %>')">Change</button></strong>
  <% if system_mode(dashboard) == 'Auto' %>
      <div>
        <strong>Active schedule: </strong> <br/>
        <strong>From:</strong> <%=get_active_schedule_time(dashboard)%> <strong>To:</strong>  <%=get_next_schedule_time(dashboard) %> <br/>
        <strong>On:</strong> <%=get_active_schedule_days(dashboard) %>
      </div>
  <% end %>
</div>

<% if system_mode(dashboard) != 'Off' %>
    <div id="dashboardProgramDetails" class="row">
      <div class="col-md-3 text-nowrap text-right text-primary" style=""><i class="glyphicon glyphicon-asterisk"></i><%= cool_temp(dashboard) %></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-3 text-nowrap text-left text-danger"><i class="glyphicon glyphicon-fire"></i><%= heat_temp(dashboard) %></div>
    </div>
<% end %>