<div class="container">
  <div class="row" id="dashboardContent">
    <div id="dashboardError" class="alert alert-danger" role="alert" style="display: none">
      OH NO... SOMETHING WENT WRONG...</br>
      <span id="dashboardErrorMessage"></span><br/>
      Last error on: <span id="dashboardErrorTime"></span>
    </div>
    <div class="col-md-8">
      <div id="dashboardActiveRooms">
        <%= render 'rooms', :rooms => @dashboard.rooms.active %>
      </div>
      <div id="dashboardInactiveRooms">
        <%= render 'rooms', :rooms => @dashboard.rooms.inactive, active: false %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">

        <div class="panel-heading">Current Temp / System Status</div>
        <div class="panel-body">
          <div id="systemDetailsContent">
            <div id="gauge" class="200x160px"></div>
            <div id="systemStatusContainer">
              <%= render 'system_status', :dashboard => @dashboard %>
            </div>
            <div id="systemModeContainer">
              <%= render 'system_settings', :dashboard => @dashboard %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= check_box_tag :dashboardAutoUpdate, 'Auto Update', true, data: { :size => 'mini', 'label-text' => 'Auto&nbsp;Update' } %> Last Updated: <span id="dashboardLastAutoUpdate"><%=j DateTime.now.strftime('%x @ %r') %></span>
    </div>
  </div>
</div>

<div class="modal fade" id='roomTempHistory' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Temperature History</h4>
      </div>
      <div class="modal-body">
        <div id="roomMeasurementGrid"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id='setSystemProgramModal' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit System Settings</h4>
      </div>
      <div class="modal-body">
        <div id="setSystemProgramContainer">
          <%= render 'edit_system_mode', :dashboard => @dashboard %></div>
      </div>
    </div>
  </div>
</div>

<script language="JavaScript">
  $(document).ready(function(){
    hideSystemSettingsEditModal();
    dashboardPaths = ['<%= root_path %>', '<%=dashboard_path %>'];
    setAutoUpdateSwitch();
    setTempGage(<%= current_temp %>, true);
    setUpdateSystemDetailsTimer();
  });
</script>