<%= javascript_include_tag 'raphael-2.1.4.min' %>
<%= javascript_include_tag 'justgage' %>

<div class="container">
  <div class="row" id="dashboardContent">
    <div id="dashboardError" class="alert alert-danger" role="alert" style="display: none">
      OH NO... SOMETHING WENT WRONG...</br>
      <span id="dashboardErrorMessage"></span><br/>
      Last error on: <span id="dashboardErrorTime"></span>
    </div>
    <div class="col-md-8">
      <div id="dashboardActiveRooms">
        <%= render 'rooms', rooms: @dashboard.rooms.active %>
      </div>
      <div id="dashboardInactiveRooms">
        <%= render 'rooms', rooms: @dashboard.rooms.inactive, active: false %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <hidden></hidden>
        <div class="panel-heading">Current Temp / Status</div>
        <div class="panel-body">
          <div id="systemDetailsContent">
            <div id="gauge" class="200x160px" data-initial-temp="<%= current_temp %>"></div>
            <div>System State: <strong><span id="systemDetailsState">Unknown</span></strong> </div>
            <div>Program: <strong><span id="systemDetailsProgram">Unknown</span></strong> </div>
            <div>Last Updated: <span id="systemDetailsLastUpdatedTime"><%=DateTime.now.strftime('%x @ %r') %></span> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>