<%= link_to '<< Programs', programs_path %>

<h2>Program: <%= @program.name %></h2>

<div>
  <%= link_to edit_program_path(@program), :class => 'btn btn-default text-primary' do %>
      <i class='glyphicon glyphicon-edit'></i> Edit
  <% end %> <%= link_to @program, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-default text-danger' do %>
      <i class='glyphicon glyphicon-trash'></i> Delete
  <% end %>
</div>

<h3>Schedule:<%= link_to new_program_schedule_path(@program), :class => 'btn btn-lg' do %>
      <i class='glyphicon glyphicon-plus-sign'></i>
  <% end %></h3>

<%= render 'schedule_by_day' %>