<%= form_for(@sensor) do |f| %>
    <% if @sensor.errors.any? %>
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%=pluralize(@sensor.errors.count, 'error')%> found trying to save the room data.</p>
          <ul>
            <% @sensor.errors.full_messages.each do |error_mgs| %>
                <li><%=error_mgs %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :manufacturer_id, 'Manufacturer Id' %>
      <%= f.text_field :manufacturer_id, :class => 'form-control' %>
    </div>

    <div class="field checkbox-inline">
      <%= f.check_box :active %><%= f.label :active %>
    </div>

    <div class="field form-group">
      <%= f.label :room_id%>
      <%= f.collection_select :room_id, Room.order(:name),:id,:name, {:include_blank => true}, {:class => 'form-control'} %>
    </div>

    <div class="field form-group">
      <%= f.label :sensor_type_id%>
      <%= f.collection_select :sensor_type_id, SensorType.all,:id,:model_with_manufacturer, {:include_blank => true}, {:class => 'form-control'} %>
    </div>

    <div class="action form-group">
      <%= link_to 'Cancel', @sensor, :class => 'btn btn-default' %>
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>