<%= link_to '<< Sensors list', sensors_path %>

<h2>Sensor: <%=@sensor.name %></h2>
<div>
  <strong>Manufacturer Id:</strong> <%= @sensor.manufacturer_id %><br/>
  <strong>Room:</strong> <%= @sensor.room.nil? ? raw('<i>None</i>') : @sensor.room.name %><br/>
  <strong>Active:</strong> <%= @sensor.active ? 'Yes' : 'No' %>
</div>
<br/>
<div>
  <%= link_to edit_sensor_path(@sensor), :class => 'btn btn-default text-primary' do %>
      <i class='glyphicon glyphicon-edit'></i> Edit
  <% end %> <%= link_to @sensor, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-default text-danger' do %>
      <i class='glyphicon glyphicon-trash'></i> Delete
  <% end %>
</div>
<br/>
<h3>Measurements:</h3>
<% if @sensor.measurements.empty? %>
  <i>None</i>
<% else %>
    <ul>
      <% @sensor.measurements.each do |m| %>
        <li><%="#{m.data} (#{m.measurement_type.name}) @ #{m.recorded_date}" %></li>
      <% end %>
    </ul>
<% end %>
