<%= form_for @room do |f| %>
    <% if @room.errors.any? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%=pluralize(@room.errors.count, 'error')%> found trying to save the room data.</p>
        <ul>
          <% @room.errors.full_messages.each do |error_mgs| %>
            <li><%=error_mgs %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :weight %>
      <%= f.text_field :weight, :class => 'form-control' %>
    </div>


    <div class="field checkbox-inline">
      <%= f.check_box :active%> <%= f.label :active %>
    </div>

    <div class="action form-group">
      <%= link_to 'Cancel', @room, :class => 'btn btn-default' %>
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>