<%= link_to '<< Rooms list', rooms_path %>

<h2>Room: <%=@room.name %> </h2>

<div>
  <strong>Weight:</strong>&nbsp;<%=@room.weight %><br/>
  <strong>Active:</strong>&nbsp;<%=@room.active ? 'Yes' : 'No' %>
</div>
<br/>
<div>
  <%= link_to edit_room_path(@room), :class => 'btn btn-default text-primary' do %>
      <i class='glyphicon glyphicon-edit'></i> Edit
  <% end %> <%= link_to @room, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-default text-danger' do %>
      <i class='glyphicon glyphicon-trash'></i> Delete
  <% end %>
</div>

<h3>Sensors:</h3>
<% if @room.sensors.empty? %>
<i>None</i>
<% else %>
<ul>
  <% @room.sensors.each do |sensor| %>
    <li><%=sensor.name %></li>
  <% end %>
</ul>
<% end %>
